.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body{
  background-color: white;
  background-size: cover;
  background-image: url(https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}


h1 {
  text-align: center;
  width: 100%;
  color: white;
  font-family: 'Francois One', sans-serif;
}

h3 {
  text-align: center;
  width: 100%;
  color: white;
  font-family: 'Francois One', sans-serif;
}
